<suite name="DeltaSuite" parallel="tests">
<parameter name="hubURL" value="http://127.0.0.1:4444/wd/hub"/>
  <test name="ChromeTest">
  <parameter name="browser" value="chrome" />
    <classes>
      <class name="delta.main.DeltaDriver"/>
    </classes>
  </test> 
  <test name="FirefoxTest">
  <parameter name="browser" value="firefox" />
    <classes>
      <class name="delta.main.DeltaDriver"/>
    </classes>
  </test>
</suite> 
